body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.relative{position:relative; width:600px;}
.absolute-text{position:absolute; bottom:0; font-size:24px; font-family:"vedana"; background:rgba(251,251,251,0.5);
padding:10px 20px; width:100%; text-align:center;}
.absolute-nav-bar{position:absolute; top:0; font-size:24px; font-family:'Helvetica', 'Arial', 'Sans-Serif'; background:rgba(251,251,251,0.5); padding:30px 40px; width:100%; text-align:center;}
.absolute-text a{font-size:25px; color:#b92b27;}
.absolute-nav-bar a{font-size:20px; color#b92b27;}
