body {
    width: 100%;
}
body.landingpage { 
  background-image: url("/Smiling_into_computer.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
    background-position: center 0px
}
body.about { padding-top: 0px; }
@media screen and (max-width: 768px) {
    body { padding-top: 20px; }
    body.landingpage { background-position: 80% 0px}
}
.bg-primary {
    background-color: white
        color: #000000
        
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline-block;
}

/* navbar */
.navbar-inverse {
    background-color: #800000;
    border-color: #E7E7E7;
    padding-left: 15px;
    padding-right: 15px;
}
.navbar-default .navbar-nav > li > a {
   color: #000000; 
    }
.container {
    width: 100%;
}

.site-wrapper-inner {
    background-size: cover
    background: rgba(256, 256, 256, 0.25); /* color with an alpha transparency */
    height: 100%;
}

.cover {
    padding-left: 15px;
    padding-right: 15px;
    font-size: larger
}
.cover-heading {
    font-size: 60px
}
.header-content {
  color: #000000
}
header.about {
    background-image: url("/Media_Lab.jpg");
}
header.program {
    background-image: url(/pigeon_sun.jpg");
}
hr {
    border-color: #000000;
    border-width: 3px;
    max-width: 50px;
}
.btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: #000000;
    font-size: 25px;
    margin-bottom: 50px;
}
header.about .header-content .header-content-inner p {
    font-weight: 300;
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
    text-shadow: 1px 1px 1px #000000;
}
header .header-content .header-content-inner .light p{
    color: white 
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 50px;
}
.navbar-default .navbar-header .navbar-brand {
    color: #000000;
}
.mastfoot {
    padding-left: 15px;
    padding-right: 15px;
}
.blurb {
    padding-left: 15px;
    paddingright: 15px;
}
a.class1 {
    text-decoration: none;
    color: #0020C2;
}
a.class1:hover {
    text-decoration: underline;
}
a.class2 {
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}
class2:hover {
    text-decoration: underline;
}
a.class3 {
    background-color: #B6B6B4;
    color: white;
    padding: 14px 25px;
    text-align: left; 
    text-decoration: none;
    display: inline-block;
}

a.class2:hover {
    text-decoration: underline;
}
h1 {
    font-size: 60px;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
}
.box_textshadow {
     text-shadow: 1px 1px 1px #ccc; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}
sp { font-size: 1em; line-height:1.2em; color:#000000;}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.relative{position:relative; width:100%;}
.absolute-text{position:absolute; bottom:0; font-size:24px; font-family:"vedana"; font-weight: bold; background:rgba(251,251,251,0.5);
padding:10px 20px; width:100%; text-align:left;}
.absolute-nav-bar{position:absolute; top:0; font-size:24px; font-family:'Helvetica', 'Arial', 'Sans-Serif'; background:#000000; padding:30px 40px; width:100%; text-align:right;}
.absolute-text a{font-size:25px; color:#000000;}
.absolute-nav-bar a{font-size:20px; color#000000;}
