<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body style="background-color:lightblue;">

			<nav>
	    		<ul>
	        		<li><a2 href="/">Home</a2></li>
				<li><a2 href="/apply">Apply</a2></li>
		        	<li><a2 href="/about">About Us</a2></li>
				<li><a2 href="/people">People</a2></li>
				<li><a2 href="/programme">Program</a2></li>
				<li><a2 href="/contact_us">Contact Us</a2></li>
				<li><a2 href="/FAQ">FAQ</a2></li>

	    		</ul>
			</nav>
			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li><a2 href="mailto:refugees@media.mit.edu">email</a2></li>
	        		<li><a2 href="https://www.media.mit.edu/projects/refugee-learning-accelerator/overview/">Project</a2></li>
				</ul>
			</footer>
		</body>
	</html>
