<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content"IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content>
			<meta name="author" content>
			<link rel="icon" href="../../favicpon.ico">
			<title>Refugee Learning Accelerator -MIT Media Lab</title>
			<link href="../../dist/css/bootsrap.min.css" rel="stylesheet">
			<link href="../../assests/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
			<script src="../../assests/js/ie-emulation-modes-warning.js"></script>
			<link href="carousel.css" rel="stylesheet">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="/css/bootstrap.min.css" rel="stylesheet">
      			<link href="/css/carousel.css" rel="stylesheet">
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/bootstrap.js"></script>
			<script src="/js/npm.js"</script>
			<script type="text/javascript">$(document).ready(function() {$('dropdown-toggle').dropdown()});</script>
		</head>
		<body>
			<div class="navbar-wrapper">
				<div class="container">
					<nav class="navbar navbar-inverse navbar-static-top">
						<div class="container">
    							<div class="navbar-header">
      								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
									<span class="sr-only">Toggle navigation</span>
        								<span class="icon-bar"></span>
        								<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="#">
									<img alt="MIT" src="Refugee-Learning-Accelerator.github.io/Mit_medialab_logo.png" height="15" width="30">Refugee Learning Accelerator
								</a>
							</div>
							<div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
								<ul class="nav navbar-nav">
									<li class="active"><a href="/">Home</a></li>
									<li><a href="/about">About Us</a></li>
									<li><a href="/program">Program</a></li>
									<li class="dropdown">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">People <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li><a href="/people/team">Media Lab Team</a></li>
											<li><a href="/people/advisors">Advisors</a></li>
											<li><a href="/people/mentors">Mentors</a></li>
										</ul>
									</li>
									<li><a href="/FAQ">FAQ</a></li>
									<li><a href="/contact_us">Contact</a></li>
									<li><a href="/apply" class="class3">Apply</a></li>
									</div><!-- /.navbar-collapse -->
							</div> <!-- /.container-fluid -->
							</nav>
						</div>
				</div>
			</div>
			<div class="relative">
				<img src="Refugee-Learning-Accelerator.github.io/Girl_reflected_in_computer.jpeg" alt="RLA">
				<p class="absolute-text">Refugee Learning Accelerator </p>

			</div>

			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
