<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div class="relative">
  					<img src="Refugee-Learning-Accelerator.github.io/Girl_reflected_in_computer.jpeg" alt="RLA">
			
			<nav class="absolute-nav-bar">
	    		<ul>
	        		<li><a color=#000000 href="/">Home</a></li>
				<li><a color=#000000 href="/apply">Apply</a></li>
		        	<li><a color=#000000 href="/about">About Us</a></li>
				<li><a color=#000000 href="/people">People</a></li>
				<li><a color=#000000 href="/programme">Program</a></li>
				<li><a color=#000000 href="/contact_us">Contact Us</a></li>
				<li><a color=#000000 href="/FAQ">FAQ<a/></li>
	    		</ul>
			</nav>
  					<p class="absolute-text">Refugee Learning Accelerator</a> </p>

			</div>

			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li><a href="mailto:refugees@media.mit.edu">email</a></li>
	        		<li><a href="https://www.media.mit.edu/projects/refugee-learning-accelerator/overview/">Project</a></li>
				</ul>
			</footer>
		</body>
	</html>
