<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
		<div class="relative">
  					<img src="Refugee-Learning-Accelerator.github.io/Green_leaf.jpg" alt="RLA">
			
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/apply">Apply</a></li>
		        	<li><a href="/about">About Us</a></li>
				<li><a href="/programme">Programme</a></li>
				<li><a href="/people">People</a></li>
				<li><a href="/contact_us">Contact Us</a></li>
	    		</ul>
			</nav>
  					<p class="absolute-text">Lorem Ipsum</a> </p>

			</div>

			<div class="container">
		
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        		<li><a href="mailto:refugees@media.mit.edu">email</a></li>
	        		<li><a href="https://www.media.mit.edu/projects/refugee-learning-accelerator/overview/">Project</a></li>
				</ul>
			</footer>
		</body>
	</html>
